:root{
  --bs-primary: #FCF7EE;
  --bs-secondary: #994505;
  --bs-primary-rgb: 252, 247, 238;
--bs-secondary-rgb: 153, 69, 5;

}

.nav-header{
  /* display: flex; */
}

nav ul {
  display: flex;
  justify-content: space-around;
}

.pic-grid-container {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-areas:
    "pic-1 pic-2 pic-2 pic-3"
    "pic-4 pic-5 pic-6 pic-7"
    "pic-8 pic-8 pic-9 pic-9"
    "pic-10 pic-11 pic-12 pic-13"
    "pic-14 pic-14 pic-15 pic-15";
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 1rem;
    column-gap: 1rem;
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  /* html, body {
    max-width: 100%;
    overflow-x: hidden;
} */

  /* body {
    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }
  
  @keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
      opacity: 1;
   }
} */

.skip-links {
  list-style: none;
  margin: 0;
  padding: 0;
}

.skip-links a {
  position: absolute;
  z-index: 1;
  top: -3em;
  background-color:#FCF7EE;
  color: black;
  padding: .5em 1em;
  font-weight: bold;
  text-decoration: none;
}

.skip-links a:hover{
  color: #994505;
}

.skip-links a:focus {
  top: 0;
}

nav li a,
nav li a:link,
nav li a:visited {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  color: black;
  transition: transform .5s;
  transition-delay: .2s;
}

nav li a:hover{
  color: #994505;
}

nav li :hover,
nav li :focus {
  transform: scale(1.25);
  color: #994505;
}

.logo{
  width: 80%;
}

.bio{
  padding-top: 5rem;
}

.hero-text{
  position: relative;
  margin-bottom: -1.5rem;
}

.img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.portrait-event-link a:hover,
.portrait-event-link :focus {
  background-color:#994505;
  transition-delay: .1s;
  transform: scale(0.9);
  color: white;
}

.portrait-event-link{
  padding: 1rem;
  text-decoration: none;
  font-size: 1.5rem;
  /* border: 2px solid black; */
  display: flex;
  justify-content: center;
  margin-bottom: .5rem;
}

.portrait-event-link a{
  display: flex;
  justify-content: center;
  border: 2px solid black;
  width: 100%;
  padding: 1rem;
  text-decoration: none;
  color: inherit;
  transition: .3s ease-in-out;
}

.projects-link{
  padding: 1rem;
}

.nav a{
  text-decoration: none;
  color: inherit;
}



.pic-1 {
  grid-area: pic-1;
}

.pic-2 {
  grid-area: pic-2;
}

.pic-3 {
  grid-area: pic-3;
}

.pic-4 {
  grid-area: pic-4;
}

.pic-5 {
  grid-area: pic-5;
}

.pic-6 {
  grid-area: pic-6;
}

.pic-7 {
  grid-area: pic-7;
}

.pic-8 {
  grid-area: pic-8;
}

.pic-9 {
  grid-area: pic-9;
}

.pic-10 {
  grid-area: pic-10;
}

.pic-11 {
  grid-area: pic-11;
}

.pic-12 {
  grid-area: pic-12;
}

.pic-13 {
  grid-area: pic-13;
}

.pic-14 {
  grid-area: pic-14;
}

.pic-15 {
  grid-area: pic-15;
}

/* .img-1{
  width: 100%;
} */

.footer-container{
  background-color: #994505;
}

.footer-img{
  padding: 1rem;
  width: 100%;
}

.footer-section{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.footer-email{
  padding: 6rem 0;
}

.footer-form{
  padding-top: 2rem;
}

.input-max-width{
  height: 3rem;
  padding: 1rem;
  width: 100%;
}

.form-message{
  padding: 1rem;
}

hr{
  width: 100%;
}

.footer-copywrite{
  display: flex;
  justify-content: center;
}

.form{
  display: flex;
  gap: 1rem;
}


.about-skewer{
  background-color: #994505;
  position: relative;
}

.skewer{
 z-index: -1000;
 width: 100%;
 position: absolute;
 margin-top: 50rem;
}



.skewer::after{
  width: 100%;
  height: 200px;
  background-color:#994505;
  content: "";
  transform: skewY(7deg);
  position: absolute;
  bottom: -85px;
  z-index: -1;
}

.send-btn{
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  padding: 1rem;
  width: 25%;
  /* color: white; */

}

.send-btn:hover{
}

.btn-container{
  flex-direction:row-reverse ;
  justify-content: end;
}

.message-box{
  padding-top: 1rem;
}

.back-to-top{
  display: flex;
  justify-content: end;
  text-decoration: none;
  color: white;
  transition: .3s ease-in-out;
}

.back-to-top:hover{
  color: black;
  transition-delay: .1s;
}



/* ---Tablet media querry ---*/
@media (max-width: 1024px){
  .bio{
    padding-top: 1rem;
    padding-left: 2rem;
  }
  
.hero-text{
  padding-left: 2rem;
}

.location{
  padding-top: 1rem;
}

#carousel{
  padding-top:1rem;
}

.welcome-projects{
  width: 80%;
}

.footer-email{
  padding-top: 0;
}

.line-break{
  display: flex;
  flex-wrap: wrap;
}

.form-message{
  height: 200%
}
}



/* ---mobile media querry ---*/
@media (max-width: 768px){
  .hr-line-below{
    display: flex;
    flex-direction: column;
    
  }

  .send-btn{
    margin-bottom:2rem ;
    padding: 1rem;
  }

  .footer-img{
    margin-bottom: 0;
    ;
  }
}