:root {
  --bs-primary: #FCF7EE;
  --bs-secondary: #994505;
  --bs-primary-rgb: 252, 247, 238;
  --bs-secondary-rgb: 153, 69, 5;
}

@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Open+Sans:ital,wght@0,400;0,700;1,300&family=Spectral:ital,wght@0,200;0,300;0,600;1,400;1,600&display=swap');

* {
  font-family: 'Merriweather', serif;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Spectral', serif;
}

nav ul {
  display: flex;
  justify-content: space-around;
}

.pic-grid-container {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-areas:
    "pic-1 pic-2 pic-2 pic-3"
    "pic-4 pic-5 pic-6 pic-7"
    "pic-8 pic-8 pic-9 pic-9"
    "pic-10 pic-11 pic-12 pic-13"
    "pic-14 pic-14 pic-15 pic-15";
  grid-template-columns: 1fr 1fr 1fr 1fr;
  row-gap: 1rem;
  column-gap: 1rem;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

.skip-links {
  list-style: none;
  margin: 0;
  padding: 0;
}

.skip-links a {
  position: absolute;
  z-index: 1;
  top: -3em;
  background-color: #FCF7EE;
  color: black;
  padding: .5em 1em;
  font-weight: bold;
  text-decoration: none;
}

.skip-links a:hover {
  color: #994505;
}

.skip-links a:focus {
  top: 0;
}

nav a {
  padding: 2em;
}

nav li a,
nav li a:link,
nav li a:visited {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  color: black;
  transition: transform .5s;
  transition-delay: .2s;
}

nav li a:hover {
  color: #994505;
}

.navbar-toggler{
  border: solid 1px black;
  background-color: black;
}

nav li :hover,
nav li :focus {
  transform: scale(1.25);
  color: #994505;
}


.logo {
  width: 80%;
}

.bio {
  padding-top: 2rem;
  padding-left: 7rem;
}



.location {
  padding-top: 4rem;
}

.home-3rd-sec {
  font-size: 3rem;
  font-style: italic;
}

.hero-text {
  position: relative;
  margin-bottom: -1.5rem;
  font-size: 5rem;
  /* padding-left: 7rem; */
}

.img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.portrait-event-link a:hover,
.portrait-event-link :focus {
  background-color: #994505;
  transition-delay: .1s;
  transform: scale(0.9);
  color: white;
}

.portrait-event-link {
  padding: 1rem;
  text-decoration: none;
  font-size: 1.5rem;
  /* border: 2px solid black; */
  display: flex;
  justify-content: center;
  margin-bottom: .5rem;
}

.portrait-event-link a {
  display: flex;
  justify-content: center;
  border: 2px solid black;
  width: 100%;
  padding: 1rem;
  text-decoration: none;
  color: inherit;
  transition: .3s ease-in-out;
}

/* ---------------PROJECTS PAGE------------------ */

.project-h1{
  font-size: 5rem;
}

.project-h2{
  font-size: 1.5rem;
  text-align: center;
}

.pic-1 {
  grid-area: pic-1;
}

.pic-2 {
  grid-area: pic-2;
}

.pic-3 {
  grid-area: pic-3;
}

.pic-4 {
  grid-area: pic-4;
}

.pic-5 {
  grid-area: pic-5;
}

.pic-6 {
  grid-area: pic-6;
}

.pic-7 {
  grid-area: pic-7;
}

.pic-8 {
  grid-area: pic-8;
}

.pic-9 {
  grid-area: pic-9;
}

.pic-10 {
  grid-area: pic-10;
}

.pic-11 {
  grid-area: pic-11;
}

.pic-12 {
  grid-area: pic-12;
}

.pic-13 {
  grid-area: pic-13;
}

.pic-14 {
  grid-area: pic-14;
}

.pic-15 {
  grid-area: pic-15;
}



.saturation{
  filter: grayscale(0%) brightness(0.95);
  transition: filter 0.3s cubic-bezier(0.85, 0, 0.15, 1);
}

.saturation:hover{
  filter: grayscale(50%) brightness(0.95);
}

.nav a {
  text-decoration: none;
  color: inherit;
}

/* .bw-of-me:hover{
}

.colored-of-me:hover{
  filter: saturate(0);
} */



/* .img-1{
  width: 100%;
} */

.footer-container {
  background-color: #994505;
}

.footer-img {
  padding: 1rem;
  width: 100%;
}

.footer-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.footer-email {
  padding-top: 6rem;
  font-size: 1.5rem;
}

.footer-copywrite {
  display: flex;
  justify-content: center;
}

.hr-p{
  text-align: center;
}

.input-max-width {
  height: 3rem;
  padding: 1rem;
  width: 100%;
}

.form-message {
  padding: 1rem;
}

hr {
  width: 100%;
}



.form {
  display: flex;
  gap: 1rem;
}


.skewer {
  z-index: 1;
  width: 100%;
  position: relative;
  margin-top: 50rem;
  margin-top: 0;
}

.skewer::after {
  width: 100%;
  height: 200px;
  background-color: #994505;
  content: "";
  transform: skewY(4deg);
  position: absolute;
  bottom: -100px;
  z-index: -1;
  /* was bottom -85 
  skewY was 7deg*/
}

.about-intro {
  padding-left: 15rem;
}

.about-intro-3 {
  padding-top: 10rem;
}

.my-name {
  font-size: 7rem;
  padding-left: 12rem;
  position: relative;
  top: 3rem;
  /* z-index: -1; */
}

.about-banner {}

.about-img-2 {
  width: 70%;
}

.third-about-img {
  margin-top: 15rem;
}

.about-img-2-div {
  display: flex;
  justify-content: center;
}

.send-btn {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  padding: 1rem;
  width: 30%;
  border: 2px solid black;
  background: none;
  cursor: pointer;
  transition: .3s ease-in-out;

}

.send-btn:hover,
.send-btn :focus{
  background-color: #FCF7EE;
  transition-delay: .1s;
  transform: scale(0.9);
}

.btn-container{
  flex-direction: row-reverse;
  justify-content: end;
}

.message-box {
  padding-top: 1rem;
}

.back-to-top {
  display: flex;
  justify-content: end;
  text-decoration: none;
  color: white;
  transition: .3s ease-in-out;
  padding-bottom: 1rem;
}

.back-to-top:hover {
  color: black;
  transition-delay: .1s;
}


