/* ---Tablet media querry ---*/
@media screen and (max-width: 75rem) { 
  nav a {
    padding: 1rem;
  }

  .bio {
    padding-top: 2rem;
    padding-left: 5rem;
  }

  .home-3rd-sec {
    font-size: 2rem;
  }

  .hero-text {
    padding-left: 2rem;
    font-size: 4rem;
  }

  .location {
    padding-top: 1rem;
  }

  .welcome-projects {
    width: 80%;
  }

  .footer-email {
    padding-top: 3rem;
    font-size: 1.2rem;
    padding-left: 0;
  }

  .line-break {
    display: flex;
    flex-wrap: wrap;
  }

  .form-message {
    height: 200%
  }

  .about-intro {
    padding-left: 4rem;
    /* top: 0rem; */
    padding-top:2rem;
  }

  .about-intro-2 {
    padding-right: 3rem;
  }

  .third-about-img {
    margin-top: 10rem;
  }

  .about-intro-3 {
    padding: 2rem 2rem;
  }

  .my-name {
    font-size: 5rem;
    position: relative;
    top: 1;
  }

  .btn-container{
    padding-bottom: 1rem;
  }

  .form-div{
    padding: 0 1rem 1rem;
  }

  /* ----------PROJECTS PAGE------------ */
  .project-h1{
    font-size: 5.5rem;
  }
  
  .project-h2{
    font-size: 1.4rem;
  }
  
  .yt-embed{
    width: 100%;
  }

  .pic-grid-container {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-areas:
      "pic-1 pic-2 pic-2"
      "pic-3 pic-4 pic-5"
      "pic-6 pic-7 pic-7"
      "pic-8 pic-9 pic-9"
      "pic-10 pic-11 pic-12"
      "pic-13 pic-14 pic-14"
      "pic-15";
    grid-template-columns: 1fr ;
    row-gap: .8rem;
    column-gap: .8rem;
  }
}

/* ---mobile media querry ---*/
@media screen and (max-width: 48rem) {
  .hamburgar{
    padding-top: 1rem;
  }

  .hero-text{
    font-size: 3rem;
  }
  
  .hr-line-below {
    display: flex;
    flex-direction: column;
  }

  .glider {
    padding-top: 2rem;
  }

  .home-3rd-sec {
    font-size: 2rem;
    padding: 0 3rem;
  }

  .send-btn {
    margin-bottom: 2rem;
    padding: 1rem;
  }

  .footer-img {
    margin-bottom: 0;
  }

  .third-about-img {
    margin-top: 10rem;
  }

  .about-intro {
    display: flex;
    order: 2;
    /* padding-top: 3rem; */
    padding: 3rem 6rem 6rem;
  }

  .about-intro-2 {
    padding: 0rem 4rem 0rem;
    display: flex;
    justify-content: center;
  }

  .about-intro-3 {
    padding: 0 4rem 5rem;
    display: flex;
    justify-content: center;
  }

  .my-name {
    font-size: 4.5rem;
    position: relative;
    /* top: 7rem; */
    color: #994505;
  }

  .about-banner {
    margin-top: 2rem;
  }

  .about-hero-sec {
    padding-top: 0;
  }

  .about-img-2 {
    width: 50%;
  }

  .about-img-2-div {
    display: flex;
    justify-content: center;
    padding-bottom: 2rem;
  }

  .footer-email{
  padding-left: 2rem;
  padding: 0 2rem 2rem;
  }

 /* ----------PROJECTS PAGE------------ */
 .hamburgar{
  padding-top: 2rem;
}
 
 .project-h1{
    font-size: 3rem;
  }

  .project-h2 {
    font-size: 1rem;
  }

  .project-skip-btn {
    font-size: 1rem;
    text-align: center;
    height: 100%;
  }

  .yt-embed{
    width: 100%;
    padding: 1rem 1rem 1rem;
  }

  .pic-grid-container {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-areas:
      "pic-1 pic-3"
      "pic-2 pic-2"
      "pic-4 pic-5"
      "pic-8 pic-8"
      "pic-7 pic-6"
      "pic-9 pic-9"
      "pic-10 pic-11"
      "pic-12 pic-13"
      "pic-14 pic-14"
      "pic-15 pic-15";
    grid-template-columns:1fr 1fr;
    row-gap: .8rem;
    column-gap: .8rem;
  }
}

/* iphone media querry */
@media screen and (max-width: 36rem) {
 .hero-text{
  font-size: 2.2rem;
 }

 nav a {
  padding: 0;
}

 .bio{
  padding: 1rem 2rem 1rem;
 }

 .logo{
  width: 50%;
 }

 .my-name{
  font-size: 3.5rem;
 }

 .yt-embed{
  width: 100%;
}

 .project-h1{
  font-size: 2.5rem;
}

 .footer-email{
  padding-top: 0;
 }
}

@media (prefers-color-scheme: dark) {
  /* Styles */
  :root {
    --bs-primary: #FCF7EE;
    --bs-primary-rgb: 252, 247, 238;
  }

  .skewer::after {
    /* background-color:#d4dfce ; */
  }
}

@media print{
  .navbar-toggler{
    display: none;
  }

  img{
    display: none;
  }

  .glider{
    display: none;
  }
}